<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>message</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/hatakeda.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet">
</head>
<body>

  <header>
    <h2><a href="../index.html">AIFUL</a></h2>
    <ul>
      <li><a href="IKEBATA.html">IKEBATA.</a></li>
      <li><a href="HATAKEDA.html">HATAKEDA.</a></li>
      <li><a href="KOBORI.html">KOBORI.</a></li>
      <li><a href="SASAKI.html">SASAKI.</a></li>
      <li><a href="HORITA.html">HORITA.</a></li>
    </ul>
  </header>

  <main>
    <div class="profile">
      <img src="../img/hatakeda.jpg" alt="">
      <div>
        <p>畠田　<span>知</span>佳</p>
        <p>WEB係歴3年半！！！！</p>
        <p>役　職：「<span>ヒーラー</span>」※これからは社長を癒します</p>
        <p>特　徴：語尾上げ（○○なんで「<span>す</span>」↑↑）</p>
        <p>趣　味：今年はお笑いを見に行くことがマイブーム！</p>
        <p>特に「見取り図」に<span>ハマって</span>ます！！！</p>
        <p>実　話：梅景さんとペアルック</p>
      </div>
    </div>

    <div class="message">
      <h6>message...</h6>
      <div class="bg">
      <p>
        <br>
        3年半お世話になりました。<br>
        本当に皆さん優しくて頼りになって<br>
        時にはおもしろく、そのおかげでここまで平和に続けることが出来ました。<br>
        <br>
        優柔不断で頼りない私が<br>
        教育担当、半年でしたがリーダーとして何とか過ごせたのも日々皆さんに<br>
        助けてもらったおかげです！！<br>
        <br>
        この部署じゃなかったら5年目まで働けてなかったかもしれません。<br>
        次の部署は全く違うことをするので不安で仕方がないですが<br>
        ここでの事を活かして頑張ります！<br>
        <br>
        長い間本当に、ありがとうございました〜！！<br>
        <br>
      </p>
      </div>
    </div>



  </main>

  <span id="menuBtn" class="material-icons">menu_book</span>
  <nav id="menu">
    <ul>
      <li><a href="./IKEBATA.html">Ikebata's message</a></li>
      <li><a href="./HATAKEDA.html">Hatakeda's message</a></li>
      <li><a href="./KOBORI.html">Kobori's message</a></li>
      <li><a href="./SASAKI.html">Sasaki's message</a></li>
      <li><a href="./HORITA.html">Horita's message</a></li>
    </ul>
  </nav>
  
  <footer>
    <small>&copy; written by CC1部2課WEB係</small>
  </footer>

  <script src="../js/main.js"></script>
</body>
</html>