<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>message</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/horita.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <h2><a href="../index.html">AIFUL</a></h2>
    <ul>
      <li><a href="IKEBATA.html">IKEBATA.</a></li>
      <li><a href="HATAKEDA.html">HATAKEDA.</a></li>
      <li><a href="KOBORI.html">KOBORI.</a></li>
      <li><a href="SASAKI.html">SASAKI.</a></li>
      <li><a href="HORITA.html">HORITA.</a></li>
    </ul>
  </header>

  <main>
    <div class="profile">
      <div>
        <p>堀<span>田</span>　裕介</p>
        <p>WEB係歴3年！！！</p>
        <p>役　職：「<span>最後のバイザー</span>」</p>
        <p>特　技：<span>Enterキー</span>の強打</p>
        <p>趣　味：〆Dの掃除当番を笑顔で密告する</p>
        <p>特　徴：特定の人からの質問にちょっとだけ嫌な顔する</p>
        <p>実　話：<span>元野球部</span>ピッチャー</p>
      </div>
      <img src="../img/horita.jpg" alt="">
    </div>

    <div class="message">
      <h6>message...</h6>
      <div class="bg">
      <p>
        <br>
        3年間大変お世話になりました。<br>
        たくさんの運用変更や規定改定に携わらせていただきました。<br>
        ほとんどの人にとっては、「また変更かよ〜」とか「分かりにくいよ〜」<br>
        だったと思います・・・ごめんなさい・・・。<br>
        <br>
        異動とはなりましたが、<br>
        同じセンターの1階にいるので、これからもまだまだ会えると思います。<br>
        毛嫌いせずに、末長く仲良くしていただけると嬉しいです。<br>
        <br>
        辛いこともたくさんありましたが、<br>
        僕にとって、初めて職場の人と仲良くなれたのが皆さんです。<br>
        滞留に追われる日々で大変ですが、<br>
        これからも笑顔で仕事できる毎日を送っていただけたらなと思ってます。<br>
        <br>
        本当にお世話になりました！！！！！！<br>
        <br>
      </p>
      </div>
    </div>

  </main>

  <span id="menuBtn" class="material-icons">menu_book</span>
  <nav id="menu">
    <ul>
      <li><a href="./IKEBATA.html">Ikebata's message</a></li>
      <li><a href="./HATAKEDA.html">Hatakeda's message</a></li>
      <li><a href="./KOBORI.html">Kobori's message</a></li>
      <li><a href="./SASAKI.html">Sasaki's message</a></li>
      <li><a href="./HORITA.html">Horita's message</a></li>
    </ul>
  </nav>

  <footer>
    <small>&copy; written by CC1部2課WEB係</small>
  </footer>
  
  <script src="../js/main.js"></script>

</body>
</html>