<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>message</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/ikebata.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <h2><a href="../index.html">AIFUL</a></h2>
    <ul>
      <li><a href="IKEBATA.html">IKEBATA.</a></li>
      <li><a href="HATAKEDA.html">HATAKEDA.</a></li>
      <li><a href="KOBORI.html">KOBORI.</a></li>
      <li><a href="SASAKI.html">SASAKI.</a></li>
      <li><a href="HORITA.html">HORITA.</a></li>
    </ul>
  </header>

  <main>
    <div class="profile">
      <div>
        <p><span>池</span>端　大佑</p>
        <p>WEB係歴2年3ヶ月！！！</p>
        <p>役　職：「<span>SA日直の武士</span>」</p>
        <p>台　詞：「<span>おっす</span>」「朝礼めっちゃ上手」</p>
        <p>居住歴：新潟 ＞ 神奈川 ＞ 東京 ＞ 福岡 ＞ 滋賀 ＞ 東京！</p>
        <p>特　技：<span>クレームの代電</span></p>
        <p>趣　味：子供と遊ぶ、<span>嫁の買い物を見てる</span></p>
      </div>
      <img src="../img/a.png" alt="">
    </div>

    <div class="message">
      <h6>message...</h6>
      <div class="bg">
      <p>
        <br>
        今までお世話になりました！<br>
        いろいろなお仕事に携わらせて頂きたくさんの経験ができました。<br>
        今思えば全ての仕事が楽しかったです。<br>
        月ニで目が充血するくらい没頭できました。<br>
        <br>
        東京へ異動となりましたが、<br>
        感謝を忘れずに常に情緒を一定に保ち<br>
        一生懸命謙虚にやって行こうと思います。<br>
        <br>
        多くの人がアイフルに勤めて良かったと思われる会社にしていきたいですね！<br>
        <br>
        今までありがとうございました。<br>
        <br>
      </p>
      </div>
    </div>

  </main>

  <div id="miss">
    <p>甲子園優勝してきます！</p>
    <p>中3の時バスケめっちゃ頑張ってました。</p>
    <div>
      <img src="../img/ikebata.png" alt="">
      <p>
        名　前：<span>サンシャイン池端（a.k.aサンシャイン池端）</span><br>
        国　籍：ブラジルのロナウジーニョ<br>
        特　技：野球<br>
        趣　味：床で寝る，立つ時は中腰，暇があれば逆立ち<br>
        悩　み：原因不明の腰の痛み<br>
        <br>
        【能力】近距離パワー型のスタンド<br>
        　<span>①触れた物質に生命を与え、動物や植物に変える能力を持つ。</span><br>
        　<span>②対象者に触った部位を時限式爆弾で爆発させるという能力を持つ。</span><br>
        <br>
        　②の能力を発動するためには、以下条件をクリアする必要があります。<br>
        　　<span>１．対象者に触れて、「ボマー」と言う</span><br>
        　　<span>２．対象者に能力の説明をする</span>
      </p>
    </div>
  </div>

  <span id="menuBtn" class="material-icons">menu_book</span>
  <nav id="menu">
    <ul>
      <li><a href="./IKEBATA.html">Ikebata's message</a></li>
      <li><a href="./HATAKEDA.html">Hatakeda's message</a></li>
      <li><a href="./KOBORI.html">Kobori's message</a></li>
      <li><a href="./SASAKI.html">Sasaki's message</a></li>
      <li><a href="./HORITA.html">Horita's message</a></li>
    </ul>
  </nav>

  <footer>
    <small>&copy; written by CC1部2課WEB係</small>
  </footer>

  <script src="../js/main.js"></script>
  <script src="../js/aside.js"></script>
</body>

</html>