<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>message</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/kobori.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <h2><a href="../index.html">AIFUL</a></h2>
    <ul>
      <li><a href="IKEBATA.html">IKEBATA.</a></li>
      <li><a href="HATAKEDA.html">HATAKEDA.</a></li>
      <li><a href="KOBORI.html">KOBORI.</a></li>
      <li><a href="SASAKI.html">SASAKI.</a></li>
      <li><a href="HORITA.html">HORITA.</a></li>
    </ul>
  </header>

  <main>
    <div class="profile">
      <div>
        <p>小堀　早知<span>子</span></p>
        <p>WEB係歴2年！！！</p>
        <p>役　職：「<span>水曜日の浮浪人</span>」</p>
        <p>身　長：りんご<span>5</span>個分</p>
        <p>体　重：りんご<span>3</span>個分</p>
        <p>自　称：クッキーを作ったり、ピアノをひくのが大好きで、</p>
        <p>夢はピアニストか、詩人になること。音楽と英語が得意。</p>
      </div>
      <img src="../img/kobori.jpg" alt="">
    </div>

    <div class="message">
      <h6>message...</h6>
      <div class="bg">
      <p>
        <br>
        2年間大変お世話になりました。<br>
        年中無休で頼りなく未熟者でしたが、<br>
        リーダーになって半年くらいが経ち、<br>
        少しは頼っていただけるようになってきたと感じたところでの異動で、<br>
        正直とても寂しく思ってます。<br>
        <br>
        次の部署は、京都本社になりますが、<br>
        センターにお邪魔する機会はあると思います。<br>
        お会いした際は嫌かもしれませんが、無視しないでください。笑<br>
        <br>
        慣れない仕事になり、すごく不安ですが、<br>
        暇なときは、早期滞留の解消を願っています！<br>
        <br>
        ありがとうございました！<br>
        <br>
      </p>
      </div>
    </div>

  </main>

</body>

</html>