<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>message</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/sasaki.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <h2><a href="../index.html">AIFUL</a></h2>
    <ul>
      <li><a href="IKEBATA.html">IKEBATA.</a></li>
      <li><a href="HATAKEDA.html">HATAKEDA.</a></li>
      <li><a href="KOBORI.html">KOBORI.</a></li>
      <li><a href="SASAKI.html">SASAKI.</a></li>
      <li><a href="HORITA.html">HORITA.</a></li>
    </ul>
  </header>

  <main>
    <div class="profile">
      <img src="../img/sasaki2.jpg" alt="">
      <div>
        <p>佐<span>々</span>木　樹</p>
        <p>WEB係歴1年半！！</p>
        <p>役　職：「<span>性犯罪者予備軍</span>」</p>
        <p>親　友：カエル（・・・え？）</p>
        <p>特　徴：<span>FD担当</span>しか勝たん！！</p>
        <p>趣　味：スロット、ドライブ、旅行（国内外問わず）</p>
        <p>実　話：結婚相手は「<span>七沢みあ</span>」</p>
      </div>
    </div>

    <div class="message">
      <h6>message...</h6>
      <div class="bg">
      <p>
        <br>
        残されたメンバーの皆さん！<br>
        <br>
        なんかこーいうの苦手なんですが、<br>
        とりあえず一つ伝えたいのはほんとにお世話になりましたってことのみです！<br>
        3課歴は1年半ありましたが途切れ途切れで<br>
        しょーじき知識面でも全然他の同期には劣ってましたが、<br>
        なんとか助けられてやってこれました！<br>
        <br>
        まぁこんな僕でもなんとか辞めずに続けることが出来てるので、<br>
        後輩の皆さんは安心？してください！笑<br>
        <br>
      </p>
      </div>
    </div>



  </main>

  <span id="menuBtn" class="material-icons">menu_book</span>
  <nav id="menu">
    <ul>
      <li><a href="./IKEBATA.html">Ikebata's message</a></li>
      <li><a href="./HATAKEDA.html">Hatakeda's message</a></li>
      <li><a href="./KOBORI.html">Kobori's message</a></li>
      <li><a href="./SASAKI.html">Sasaki's message</a></li>
      <li><a href="./HORITA.html">Horita's message</a></li>
    </ul>
  </nav>

  <footer>
    <small>&copy; written by CC1部2課WEB係</small>
  </footer>

  <script src="../js/main.js"></script>
</body>

</html>